/* ---глобальные селекторы---- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.hide-item {
  display: none;
}
footer {
  background-color: #2f303a;
}
:root {
  --main-color-black: #212121;
  --sub-main-color-black: #757575;
  --main-color-white: #ffffff;
  --sub-main-color-white: #f5f4fa;
  --hover-color: #2196f3;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  margin: 0;
  padding: 0;
}
/* ----Селекторы header----  */
/* Селекторы навигации */
.flex-header {
  display: flex;
  align-items: center;
  height: 81px;
}
.flex-header address {
  margin-left: auto;
}
.flex-header ul {
  margin-left: 85px;
  padding: 0;
}
.flex-header li:not(:first-child) {
  margin-left: 50px;
}
.header-address a:not(:first-child) {
  margin-left: 30px;
}
.header-nav-link {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-black);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-color);
}
.active-page {
  position: relative;
}
.active-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
.icon-header-mail {
  width: 16px;
  height: 11px;
}
.icon-header-smartphone {
  width: 10px;
  height: 15px;
}

/* Селекторы адреса */
.header-nav-adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sub-main-color-black);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-adress:hover,
.header-nav-adress:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}
/* ----Селекторы footer---- */
.footer-box {
  display: flex;
  padding-top: 57px;
  padding-bottom: 28px;
}
.footer-box div + div {
  margin-left: 94px;
}
.footer-contacts .item {
  width: 231px;
  margin-top: 9px;
}

.footer-titles {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color-white);
}
.logo-footer {
  --color4: #ffffff;
}
/* Контакты и адреса */
.footer-adress-link {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--sub-main-color-white);
}
.footer-adress-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-color-white);
}
.footer-social-pages {
  display: flex;
  margin-top: 20px;
}
.footer-social-pages li + li {
  margin-left: 10px;
}
.footer-social-link-container {
  width: 206px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-color-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
  border-radius: 50px;
  --color2: #ffffff;
}
.footer-copyright {
  margin-bottom: 0;
  padding-bottom: 21px;
  font-style: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: var(--sub-main-color-white);
}
/* рассылка */
.mailing {
  width: 570px;
}
/* ----селекторы страницы Index.html----- */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color-black);
}
/*  services hero селеткторы*/
/* Селекторы секции заказа услуг */
.services-hero {
  min-width: 1600px;
  height: 600px;
  padding-top: 200px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-text-hero {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-white);
}
.services-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-white);
  background-color: var(--hover-color);
}
/* Селекторы секции преимущества */
.feature {
  display: flex;
  padding-top: 95px;
}
.feature li {
  width: 270px;
}
.feature li + li {
  margin-left: 30px;
}
.feature li::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: var(--sub-main-color-white);
}
.antena-img::before {
  background-image: url(../images/antena.svg);
}
.clock-img::before {
  background-image: url(..//images/clock.svg);
}
.diagram-img::before {
  background-image: url(..//images/diagram.svg);
}
.container-img::before {
  background-image: url(..//images/astronaunt.svg);
}
.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--sub-main-color-black);
}

/* Селекторы секции чем мы занимаемся */
.what-are-we-doing {
  padding-top: 95px;
  padding-bottom: 95px;
}

.what-are-we-doing-list li {
  position: relative;
  width: 370px;
  height: 294px;
}

.what-are-we-doing-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;

  color: var(--main-color-white);
  background: rgba(47, 48, 58, 0.8);

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.what-are-we-doing ul {
  display: flex;
}
.what-are-we-doing li:not(:first-child) {
  margin-left: 30px;
}
/* Селекторы секции наша команда */
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team ul {
  display: flex;
}
.our-team .box {
  background-color: var(--main-color-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}
.our-team li {
  width: 270px;
}
.our-team li + li {
  margin-left: 30px;
}
.our-team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color-black);
}
.our-team-text {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--sub-main-color-black);
}
.social-link-box {
  display: flex;
  justify-content: center;
}
.social-link-box a {
  padding: 0;
  border: none;
}
.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  border-radius: 50px;
  fill: #ffffff;
}

.social-link-box a + a {
  margin-left: 10px;
}
/* постоянные клиенты */
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients ul {
  display: flex;
}
.our-clients li + li {
  margin-left: 30px;
}
.our-clients-label {
  width: 170px;
  height: 80px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-label:hover {
  fill: var(--hover-color);
  border: 1px solid #2196f3;
}
/* ----Селекторы страницы portfolio.html---- */
.portfolio-box {
  padding-top: 93px;
  padding-bottom: 94px;
}
/* секция фильтров */
.filters-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.filters-flex li + li {
  margin-left: 8px;
}
.filters-button {
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--hover-color);
  color: var(--main-color-white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
}
/* секция контента */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio li:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio li:hover .back-side-card {
  transform: translateY(0%);
}
.portfolio li:nth-child(3n) {
  margin-right: 0;
}
.card {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.back-side-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;

  color: var(--main-color-white);
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-content-headers {
  margin-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-black);
}
.main-content-text {
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;

  font-size: 16px;
  line-height: 1.8;
  color: var(--sub-main-color-black);
}
.main-content-text-target {
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-color-white);
}
